<!doctype html>
<html>
{% extends "base.html" %}
{% block content %}
<div class = "article-image">
  <img src="../static/files/img/background_7.png" class ="content-img">
  <div class ="text">
   <h1>Header-Title,lorem ipsum.</h1>
  </div>
</div>

<div class= "article">
 <div class="list">
  <ul>
    <li><a>05.09.2021</a></li>
    <li><a>permalink</a></li>
    <li><a>featured-article</a></li>
  </ul>
 </div>
   
 <div class ="head1">
  <h2>Subtitle--Lore, ipsum dolor<br>sit amet,consectetur nunc<br>adipiscing elit,sed do eiusmod<br>tempor incididunt ut labore et<br>dolore magna aliqua ipson.</h2>
  <p>Lorem<a href ="#1"><sup>1</sup></a>ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod<br>tempor incididunt<a href ="#2"><sup>2</sup></a>ut labore et dolore <span ="aqua">magna aliqua</span>. Ut enim ad minim<br>veniam,quis nostrud exercitation<a href ="#3"><sup>3</sup></a>ullamco laboris.<br></p>
  <p>sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantim<br>doloremque laudantium,totam rem aperiam,eaque ipsa quae ab illo inventore<br>veritatis et quasi architecto beatae vitae dicta sunt explicabo.Nemo enim<br>ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,sed quia<br>consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.<br>Neque porro quisquam est,qui dolorem ipsum quia dolor sit amet,<br>consectetur,adioisci velit,sed quia non numquam eius modi tempora incidunt<br>ut labore et dolore magnam aliquam quaerat voluptatem.Ut enim as minima<br>veniam,quis nostrum exercitationem ullam corporis suscipit laboriosam,nisi ut<br>aliquid ex ea commodi consequatur?Quis autem vel eum iure reprehenderit<br>qui in ea voluptate velit esse quam nihil molestiae consequatur,vel illu, qui<br>dolorem eum fugiat quo voluptas nulla pariatur?<br></p>
  <p>This will add the option auto completion of <span><a href ="#">drk</a></span> and <span><a href ="#">darkfid</a></span>.<br></p>
  <p class ="border">Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.Ut enim as minim<br>veniam,quisnostrud exercitation ullamco laboris<br></p>
 </div>
   
 <div class ="bottom-img">
  <img src="../static/files/img/background_1.png" class ="bottom">
  <div class ="caption"><p>caption</p></div>
 </div>
   
 <div class ="big-title">
  <h1 class ="first-bar">H1-Section title.</h1>
  <h2 class ="second-bar">H2-Lorem ipsum</h2>
  <p class ="latest">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis<br>praesentium voluptatum deleniti atque corrupti quos dolores et quas<br>molestias excepturi sint occaecati cupiditate non provident,similique sunt in<br>culpa qui officia deserunt mollitia animi,id est laborum et dolorum fuga.Et<br>harum quidem rerum facilis est et expedita distinctio.Nam libero tempore,<br>cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod<br>maxime placeat facer possimus,omnis voluptas assumenda est,omnis dolor<br>repellendus.Temporibus autem quibusdam et aut officiis debitis aut rerum<br>necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae<br>non recusandae.Itaque earum rerum hic tentur a sapiente delectus,ut aut<br>reiciendis voluptatibus maiores alias consequatur aut perferndis doloribus<br>asperiores repellat<br></p>
 </div>
   
 <div class ="code">
    if token_id_exists {<br>
                self.send(pub_key,amount, token_id, false,state).await?;<br>
    (target: "CLIENT")<br>
            } else {<br>
                return Err(ClientFailed::NotEnoughValue(amount));<br>
            }<br>
            debug!(target: "CLIENT","End transfer{}",amount);<br>
            OK(())<br>
    (100<br>
    character)xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
    xxxxxxxxxxxxxxx<br>
    }<br>
  </div>
   
 <div class = "third">
  <h3 class = "article-bar">H3-Lorem Ipsum</h3>
  <p>At vero et accusamus et iusto odio dignissimos ducimus qui blanditiis<br> praesentium voluptatum deleniti atque corrupti quos dolores et quas<br> molestias excepturi sint occaecati cupiditate non provident, similique sunt in<br> culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et<br> harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,<br> cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod<br> maxime placeat facere possimus, omnis volptas assumenda est, omnis dolor<br> repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum<br> necessitatibus saepe eveniete ut et voluptates repudiandae sint et molestiae<br> non recusandae. Itaque earum hic tenetur a sapiente delectus, ut aut<br> reiciendis voluptatibus maiores alias consequature aut preferendis doloribus<br>asperiores repellat.</p>

  <h3 class = "article-bar">H3-lorem Iosum</h3>
  <p>At vero et accusamus et iusto odio dignissimos ducimus qui blanditiis<br> praesentium voluptatum deleniti atque corrupti quos dolores et quas<br> molestias excepturi sint occaecati cupiditate non provident, similique sunt in<br> culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et<br> harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,<br> cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod<br> maxime placeat facere possimus, omnis volptas assumenda est, omnis dolor<br> repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum<br> necessitatibus saepe eveniete ut et voluptates repudiandae sint et molestiae<br> non recusandae. Itaque earum hic tenetur a sapiente delectus, ut aut<br> reiciendis voluptatibus maiores alias consequature aut preferendis doloribus<br> asperiores repellat.</p>
 </div>
 <div class = "fourth">
   <h4>H4-Lorem Ipsum</h4>
   <p>Led quia non numquam aius modi tempora incidunt ut labore et dolore<br> magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis<br> nostrum exercitatioem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea<br> commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea<br> voluptate velit esse quam nihil molestiae consequatur, vel illum qui doorem<br> eum fugiat quo voluptas nulla pariatur?</p>
 </div>
 <div class = "side_bar"><p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut labore et<br> dolore magna aliqua.</p></div>
 
 <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis<br> praesentium voluptatum deleniti atque corrupti quos dolores et quas<br> molestias excepturi sint occaecati cupiditate non provident, similique sunt in<br> cuple qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et<br> harum quidem rerum facilis est et exepdita distinctio. Nam libero tempore,<br> cum soluta nobis est eligendi optio cumque nigil impedit quo id quod<br> maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor<br> repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum<br> necessitatibus saepe eveniet ut et voluptates repudiandae sint molestiae<br> non recusandae. Itaque earum rerum hic tenetur a sapiente, ut aut<br> reiciendis voluptatibus mariores alias consequatur aut perferendis doloribus<br> asperiores repellat.</p> 
   
  <div class = "big-title">
    <h2 class = "second-bar">H2-Lorem Ipsum</h2>
    <p>Lorem ipsum dolor ait amet, consectetur adispiscing elit, sed do eiusmod<br> tempor incididunt ut labore magna aliqua. Ut enim ad minim veiam,<br> quis nostrud exercitation ullamco laboris.</p>
  </div>
  
  <div class = "square">
  <ul>
    <li>This is a list item.Lorem ipsum.
    <ul>
      <li>This is a list item.Lorem ipsum.</li>
      <li>This is a list item.Lorem ipsum.</li>
    </ul>
    </li>
    <li>This is a list item.Lorem ipsum.</li>
    <li>This is a list item.Lorem ipsum.</li>
    <li>This is a list item.Lorem ipsum.</li>
  </ul>
 </div>

 <p>At vero et accusamus et iusto odio dignissimos ducimus qui blanditiis<br> praesentium voluptatum deleniti atque corrupti quos dolores et quas<br> molestias excepturi sint occaecati cupiditate non provident, similique sunt in<br> culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et<br> harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,<br> cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod<br> maxime placeat facere possimus, omnis volptas assumenda est, omnis dolor<br> repellendus.</p>
 <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus<br> saepe eveniete ut et voluptates repudiandae sint et molestiae non recusandae.<br> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis<br> voluptatibus maiores alias consequature aut preferendis doloribus asperiores<br> repellat.</p>
 <p>Lorem ipsum dolor ait amet, consectetur adispiscing elit, sed do eiusmod<br> tempor incididunt ut labore magna aliqua. Ut enim ad minim veiam,<br> quis nostrud exercitation ullamco laboris.</p>

 <div id = "resp-table">
   <div id ="resp-table-header">
      <div class ="table-header-cell">Dependency</div>
      <div class ="table-header-cell">Drbian-based</div> 
   </div>

   <div id="resp-table-body"></div>

   <div class ="resp-table-row">
      <div class="table-body-cell">
      gcc,gcc-c++,kernel headers
      </div> 
      <div class="table-body-cell">
      build-essential
      </div>
   </div>

   <div class = "resp-table-row">
      <div class="table-body-cell">
      cmake
      </div>
      <div class ="table-body-cell">
      cmake
      </div>
   </div>

   <div class = "resp-table-row">
      <div class="table-body-cell">
      wget
      </div>
      <div class ="table-body-cell">
      wget
      </div>
   </div>

   <div class = "resp-table-row">
      <div class="table-body-cell">
      pkg-config
      </div>
      <div class ="table-body-cell">
      pkg-config
      </div>
   </div>

   <div class = "resp-table-row">
      <div class="table-body-cell">
      clang
      </div>
      <div class ="table-body-cell">
      clang
      </div>
   </div>

   <div class = "resp-table-row">
      <div class="table-body-cell">
      clang libs
      </div>
      <div class ="table-body-cell">
      libclang-dev
      </div>
   </div>

   <div class = "resp-table-row">
      <div class="table-body-cell">
      llvm libs
      </div>
      <div class ="table-body-cell">
      llvm-dev
      </div>
   </div>

   <div class = "resp-table-row">
      <div class="table-body-cell">
      udev libs
      </div>
      <div class ="table-body-cell">
      libudev
      </div>
   </div>

 </div>

 <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis<br> praesentium voluptatum deleniti atque corrupti quos dolores et quas<br> molestias excepturi sint occaecati cupiditate non provident, similique sunt in<br> culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et<br> harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,<br> cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod<br> maxime placeat facere possimus, omnis volptas assumenda est, omnis dolor<br> repellendus.</p>
 <p>Lorem ipsum dolor ait amet, consectetur adispiscing elit, sed do eiusmod<br> tempor incididunt ut labore et dolor magna aliqua. Ut enim ad minim veniam,<br> quis nostrud exercitation ullamco laboris.</p>
  
 <div class = "edge">
  <ul>
   <li><p class = "section">At vero et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti<br> quos dolores et quas molestias excepturi sint occaecati<a href = "#"> cupiditate non provident,</a> similique sunt in culpa qui officia deserunt<br> mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,<br> cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis volptas<br> assumenda est, omnis dolor repellendus.</p></li>
   <li><p>Book title, Author name, 2020.Link to article:<a href = "#">http://www.coindesk.com/article-name/</a></p></li>
   <li><p class = "section">At vero et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti<br> quos dolores et quas molestias excepturi sint occaecati<a href = "#"> cupiditate non provident,</a> similique sunt in culpa qui officia deserunt<br> mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,<br> cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis volptas<br> assumenda est, omnis dolor repellendus.</p></li>
  </ul>
 </div>
  
</div>

<div class = "go-to-article">
 <span class = "previous-article">
   <p>Title (Previous article)</p>
 </span>
 <span class = "next-article">
   <p>Title (Next article)</p>
 </span>
</div>
{% endblock %}
</html>
